name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract Git commit SHA
        id: vars
        run: echo "SHA=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build Docker image
        run: |
          docker build \
            -t saxenad592/personal-website:latest \
            -t saxenad592/personal-website:${{ steps.vars.outputs.SHA }} \
            .

      - name: Push Docker image
        run: |
          docker push saxenad592/personal-website:latest
          docker push saxenad592/personal-website:${{ steps.vars.outputs.SHA }}

